</div>
  
  <div class="footer">
                <p>Connect With Us</p>
                <div class="curve">
                    <div class="curve1"><i class="fab fa-facebook fa-3x"></i></div>
                    <div class="curve2"><i class="fab fa-instagram fa-3x"></i></div>
                    <div class="curve3"><i class="fab fa-whatsapp fa-3x"></i></div>
                    <div class="curve4"><i class="fab fa-twitter fa-3x"></i></div>
                </div>
            </div>



    </div>
    
</body>
</html>