<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BizBridge</title>
    <link rel="stylesheet" type="text/css" href="/css2/style.css">
    <link rel="stylesheet" href="/css/all.css">
</head>
<body>

    <div class="container">

        <div class="header">
            <a href="/">
            <div class="logo"></div>
            </a>
            <h3>BizBridge</h3>

            <div class="nav">
                <a href="">About Us</a>
                <a href="/price">Pricing</a>
                <a href="/artisan/login">login</a>
                <a href="/artisan/register">Get your service enlisted</a>
            </div>
        </div>

        <div class="banner">


        